<div class="knowledgeSection">
    <div fxLayout="row" fxLayout.md="column" fxLayoutGap="10px" class="knowledgeRow knowledgeRow1">
        <!--client speak-->
        <md-card fxFlex>
            <md-card-header>
                <md-card-title>CLIENT SPEAK</md-card-title>
                <img class="knowledgeImg" src="../../assets/images/clientSpeak.png" alt="Client Speak">
            </md-card-header>
            <md-card-content>
                <div class="contentHead"></div>
                <div class="contentText">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt Shyam Sundar Owner SSK
                    Enterprise
                </div>
            </md-card-content>
            <button md-mini-fab (click)="openDialog('clientSpeak')" color="accent" class="red-text miniFabBtn">
                    +
                </button>
        </md-card>

        <!--white paper-->
        <md-card fxFlex>
            <md-card-header>
                <md-card-title>WHITE PAPER</md-card-title>
                <img class="knowledgeImg" src="../../assets/images/whitePaper.png" alt="Client Speak">

            </md-card-header>

            <md-card-content fxLayout="column">
                <div class="contentHead" fxFlex>Distribution Network</div>
                <div fxFlex></div>
                <div class="contentText" fxFlex>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt Shyam Sundar Owner SSK
                    Enterprise
                </div>
            </md-card-content>
            <button md-mini-fab (click)="openDialog('whitePaper')" color="accent" class="red-text miniFabBtn">
                    +
                </button>
        </md-card>
    </div>
    <div fxLayout="row" fxLayout.md="column" fxLayoutGap="10px" class="knowledgeRow knowledgeRow2">
        <!--case study-->
        <md-card fxFlex>
            <md-card-header>
                <md-card-title>CASE STUDY</md-card-title>
                <img class="knowledgeImg" src="../../assets/images/caseStudy.png" alt="Client Speak">
            </md-card-header>
            <md-card-content fxLayout="column" fxLayoutAlign="end none">
                <div class="contentHead" fxFlex>Transform Business</div>
                <div fxFlex></div>
                <div class="contentText" fxFlex fxLayoutAlign="end none">
                    Lorem ipsum dolor sit amet, consectsadasd asdasd asdasdasd asdasda asdetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt Shyam Sundar Owner SSK Enterprise
                </div>
            </md-card-content>
            <button md-mini-fab (click)="openDialog('caseStudy')" color="accent" class="red-text miniFabBtn">
                    +
                </button>
        </md-card>

        <!--news feed-->
        <md-card fxFlex>
            <md-card-header>
                <md-card-title>NEWS FEED</md-card-title>
                <img class="knowledgeImg" src="../../assets/images/newsFeed.png" alt="Client Speak">
            </md-card-header>
            <md-card-content>
                <div class="contentTextPoints" *ngFor="let news of newsFeed" fxLayout="row">
                    <span fxFlex="10px" class="black-text">o</span>
                    <span fxFlex>{{news}}</span>
                </div>
            </md-card-content>
            <button md-mini-fab (click)="openDialog('newsFeed')" color="accent" class="red-text miniFabBtn">
                    +
                </button>
        </md-card>
    </div>

</div>