<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10%" class="mainDiv">
    <div fxLayoutAlign="center" class="dialogTitle">SELECT AN INDUSTRY</div>
    <div class="typeSelectSmall" fxLayout="row">

        <div fxFlex="50px" class="typeSelectLeftBtn">
            <button md-icon-button id="typeSelectLeftBtn1" class="typeSelectBtn myCustomCarouselLeft">
                 <i class="material-icons grey-text">keyboard_arrow_left</i>
                </button>
        </div>

        <div id='typeSelectSmall1' fxFlex fxLayout="row" class="myCarouselHorizontal">
            <div fxLayout="column" *ngFor="let leftCheckBox of allLeftCheckBoxes; let i = index" class="buttonList">
                <button type="button" class="btn waves-effect selectionDialogBtn {{leftCheckBox.checkedClass}}" (click)="chooseType(leftCheckBox.name)">{{leftCheckBox.name}}</button>
            </div>
        </div>

        <div fxFlex="50px" class="typeSelectRightBtn" fxLayoutAlign="center">
            <button md-icon-button id="typeSelectRightBtn1" class="typeSelectBtn myCustomCarouselRight">
                 <i class="material-icons grey-text">keyboard_arrow_right</i>
                </button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="btn-list">
        <button md-raised-button (click)="proceed()" [disabled]="sendData==''" color="primary" class="sm-btn white-text">PROCEED</button>
    </div>
</div>