.signUpCard {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#536DFE), to(#7C4DFF));
}

.title {
    font-size: 20px;
    font-weight: bold;
    /*color: white;*/
}

.signUpCard md-card-content {
    padding: 10%;
    padding-bottom: 0px;
}

.submitBtn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.dateBtn {}